body
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

label, .button
{
    font-size : 12px !important;
}

table td
{
    vertical-align : top;
}

h1
{
    font-family : Arial;
    margin : 0;
    padding : 0;
    font-size : 30px;
    font-weight : bold;
}

h2
{
    font-family : Arial;
    margin : 0;
    padding : 0;
    font-size : 26px;
    font-weight : bold;
}

h3
{
    font-family : Arial;
    font-size : 20px;
    font-weight : bold;
    padding : 5px 0;
    margin : 0;
}

p, li
{
    font-family : Arial;
    font-size : 16px;
    margin-top: 0px;
}

ul
{
    margin-top : 10px;
    margin-bottom : 10px;
}

code
{
    padding : 0 5px;
}

#turkic_acceptfirst
{
    background-color : #cd0a0a;
    color : #fff;
}

#turkic_workerstats
{
    background-color : #E4E4E4;
}

#loadingscreen
{
    width : 700px;
    margin : 0 auto;
    margin-top : 100px;
}

#loadingscreentext
{
    font-weight : bold;
    font-size : 20px;
    font-family : Arial;
}

#loadingscreenslider
{
    background-color : #D5E8FF;
    width : 100%;
    height : 50px;
}

#loadingscreenslider .progressbar
{
    background-color : #0F7BFF;
}

#loadingscreenslider .text
{
    color : #fff;
    font-weight : bold;
    margin-top : 15px;
    margin-left :10px;
    font-family : Arial;
}

.loadingscreentip
{
    font-family : Arial;
    margin-top : 25px;
    color : #333;
}

#loadingscreeninstructions
{
    float : right;
    margin-top : -10px;
    font-weight : bold;
}

#annotatescreen
{
    width : 925px;
    margin : 0 auto;
}

#videoframe
{
    background-color : #000;
    display : block;
}

#playbutton
{
    font-weight : bold;
    width : 80px;
}

#newobjectcontainer
{
    text-align : center;
}

#newobjectbutton
{
    font-weight : bold;
}

#annotateoptions
{
    display : inline;
}

#bottombar
{
    display: table;
    width: 100%;
}

#play_controls
{
    float: left;
    display: table-cell;
    height: 30px;
}

#annobar
{
    overflow: hidden;
    width: 40%;
    display: table-cell;
    vertical-align: top;
}

#annotation_form {
    width: 100%;
    display: -webkit-flex;
}

#annotation_label
{
    height: 28px;
    -webkit-flex: 1;
    font-size: 19;
}

#speedcontrol
{
    display: table-cell;
    float: right;
}

#objectcontainer
{
    overflow : auto;
    height : 100%;
}

#container
{
    padding : 5px;
}

#failedverificationdialog
{
    position : fixed;
    top : 50px;
    left : 50%;
    width : 550px;
    height : 480px;
    margin-left : -275px;
    z-index : 10000000;
    padding : 10px;
    border : 5px solid #EB1414;
    background-color : #FFC2C2;
    overflow : auto;
}

#failedverificationbutton
{
    font-weight : bold;
}

#instructions
{
    font-family : Arial;
    font-size : 16px;
    padding : 5px 0;
}

#logoutbutton
{
    float : right;
}

#status_container #status_button
{
    float : right;
}

#instructionsdialog
{
    position : fixed;
    top : 50px;
    left : 10%;
    height : 480px;
    width : 80%;
    background-color : #fff;
    z-index : 10000000000000;
    padding : 10px;
    border : 2px solid #000;
    overflow : auto;
}

#instructionscontrols
{
    position : fixed;
    right : 10%;
}

#instructionsclosetop
{
    float : right;
    font-weight : bold;
}

#languagecontrol
{
  float: right;
  font-weight : bold;
}

#instructionsdialog video
{
  margin-right : 20px;
}

.keyboardshortcuts
{
    list-style-type : none;
    margin : 0;
    margin-left : 10px;
    padding : 0;
}

.keyboardshortcuts code
{
    /*display : block;*/
    width : 100px;
    /*float : left; */
}

.wordcontainer
{
    margin-bottom: 5px;
}

.trackobject
{
    border : 2px solid black;
    font-family : Arial;
    font-size : 14px;
}

.trackobjectfoldedup
{
}

.trackobjectfoldeddown
{
}

.trackobject p, .trackobject li, .trackobject label
{
    font-family : Arial;
    font-size : 14px !important;
}

.trackobject .label:hover
{
    font-weight : bold;
}

.trackobject p
{
    padding : 2px;
    margin : 0;
}

.trackobject ul, ol
{
    margin : 0;
    padding : 0;
    margin-left : 30px;
}

.trackobjectheader
{
    margin : 0;
    padding : 3px !important;
    /*cursor : pointer;*/
}

.trackobjectheader:hover
{
    /*text-decoration : underline;*/
}

.trackobjectheader .ui-icon
{
    float : left;
}

.boundingbox
{
    position : absolute !important;
    border-style : solid;
    border-width : 2px;
    z-index : 5;
}

.boundingbox .boundingboxtext
{
    font-size : 14px;
    /*margin-top : -18px;*/
    color : #fff;

    position : absolute;
    margin-left : -80px;
    margin-top : -2px;
    width : 75px;
    text-align : right;

    padding : 1px;
    padding-right : 3px;
    cursor : default;
    z-index : 0;

    text-shadow: -1px 0 2px #000, 0px 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
    -moz-text-shadow: -1px 0 2px #000, 0px 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
    -webkit-text-shadow: -1px 0 2px #000, 0px 1px 2px #000, 1px 0 2px #000, 0 -1px 2px #000;
}

.boundingboxhighlight .boundingboxtext
{
    text-shadow: -1px 0 5px #000, 0px 1px 5px #000, 1px 0 5px #000, 0 -1px 5px #000;
    -moz-text-shadow: -1px 0 5px #000, 0px 1px 5px #000, 1px 0 5px #000, 0 -1px 5px #000;
    -webkit-text-shadow: -1px 0 5px #000, 0px 1px 5px #000, 1px 0 5px #000, 0 -1px 5px #000;
    z-index : 1;
}

.boundingbox .fill
{
    width : 100%;
    height : 100%;
    display : block;
    display : none;
}

.boundingboxhighlight
{
    z-index : 10;
}

.boundingboxhighlight .fill
{
    opacity : 0.25;
    display : block;
}

.boundingboxoccluded
{
    border-style : dashed;
}

.ui-resizable-disabled
{
    opacity : 1.0 !important;
}

.boundingboxdim
{
    opacity : 0.3 !important;
}

.boundingboxhighlight .crossbar
{
    opacity : 0.3 !important;
}

.boundingboxlocked
{
    z-index : 0;
    opacity : 0.3 !important;
}

.boundingboxhighlight
{
    opacity : 1 !important;
}

#startendbar
{
    float : left;
}

#startbutton
{
    font-weight : bold;
    width : 80px;
    margin-right : 6px;
}
#endbutton
{
    font-weight : bold;
    width : 80px;
}

#submitbar
{
    text-align : center;
    vertical-align : bottom;
}

#submitdialog
{
    position : absolute;
    top : 200px;
    left : 0;
    width : 100%;
    text-align : center;
    font-size : 100px;
    font-weight : bold;
    font-family : Arial;
    z-index : 100000;
    background: #aaaaaaba;
}

.boxtooltip
{
    position : absolute;
    width : 200px;
    height : 200px;
    z-index : 100;
    border : 5px solid #000;
    background-color : #000;
    background-repeat : no-repeat;
    -moz-box-shadow: 2px 2px 10px #000, -2px 2px 10px #000, 2px -2px 10px #000, -2px -2px 10px #000;
    -webkit-box-shadow: 2px 2px 10px #000, -2px 2px 10px #000, 2px -2px 10px #000, -2px -2px 10px #000;
    box-shadow: 2px 2px 10px #000, -2px 2px 10px #000, 2px -2px 10px #000, -2px -2px 10px #000;
}

.boxtooltip .boundingbox
{
    position : relative;
    z-index : 101;
}

span.ui-checkboxradio-icon { display: none; }


#username
{
    height:50px;
    width: 302px;
    font-size:32pt;
    vertical-align: middle;
    margin-bottom: 5px;
}

#loginsubmitbutton
{
    height:50px;
    width: 302px;
    float: left;
    margin-top: 5px;
    font-size:20pt !important;
}

#usernamefailure
{
    color: red;
    display: inline-block;
    float: right;
    overflow: hidden;
    vertical-align: baseline;
}

#captchafailure
{
    color: red;
    display: inline-block;
    float: left;
    overflow: hidden;
    vertical-align: baseline;
}

#loginscreentext
{
    margin:0px auto;
    width: 305px;
}

#finishedscreentext
{
    margin:0px auto;
    width: 455px;
}

#finishedscreentext img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#logoutbuttonfinished
{
    height:50px;
    width: 100%;
    font-size:20pt !important;
    float: left;
    margin-top: 5px;
}

#finishedscreentext #status_button
{
    height:50px;
    width: 100%;
    font-size:20pt !important;
    float: left;
    margin-top: 25px;
}

#overlay
{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color : #ccc;
    opacity : 0.5;
    z-index : 100000;
}


#statusdialog
{
    position : fixed;
    top : 50px;
    left: 50%;
    margin-left: -400px; /* Negative half of height. */
    height : 600;
    width : 800px;
    background-color : #fff;
    z-index : 10000000000000;
    padding : 10px;
    box-shadow : 10px 10px 5px grey;
    overflow : auto;
}

#statuscontrols
{
    right : 10%;
}

#annotator_stats
{
    padding: 5px;
}

#annotator_stats_table td
{
    vertical-align: middle;
    padding: 5px;
    padding-right: 15px;
}

#annotator_stats .ui-progressbar
{
    height: 20px !important;
}

#video_stats_table td
{
    vertical-align: middle;
    padding: 5px;
    padding-right: 15px;
}

#video_stats
{
    padding-top: 10px;
}

#video_stats .ui-progressbar
{
    height: 20px !important;
}

#video_stat_heading
{
    float: left;
    padding-right: 25px;
    font-size: 20px;
}

/* prevents the progress bars inside from beign slightly smaller than their boxes */
.ui-progressbar .ui-progressbar-value
{
    margin: 0px !important;
    background-color: #337ab7;
}

td
{
    padding: 5px;
}
